@if(TempData["success"] != null){ //calling the page message, will appear once change is made
    <h2>@TempData["success"]</h2>
}
@if(TempData["error"] != null){ //calling the page message, will appear once change is made
    <h2>@TempData["error"]</h2>
}

